<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PDF protector</title>
  <link rel="stylesheet" href="{{ url_for('static',     filename='style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>PDF Unscanner</h1>
<h2>Protect documents from being copied</h2>

<form action="/" method="post" enctype="multipart/form-data">
  <div class="input-file-container">  
    <input class="input-file" id="my-file" type="file" name="data_file" onchange="form.submit()">
    <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
    
  </div>

</form>  

<!-- partial -->
  <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'script.js') }}" ></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3984854137774009",
    enable_page_level_ads: true
  });
</script>

<br>
<br>
<div style="width:30%; float:left">
    PDF Unscanner converts your PDF into an image only PDF. Meaning, text in your can no longer be recognised. Functions like copy-paste and search can no longer be performed on your document. This protects your document from plagurism. There are various applications possible for students and professors.
    <h3>Applications for professor</h3>
    Professors can use this app to create protected PDFs of assignments. This would prevent students from copy-pasting 
    questions on search engines.  
    <h3>Applications for students</h3>
    Students often work together on assignments which are supposed to be submitted separately. These students often share
    their assignments with each other. This results in plagurism. This app can be used to prevent such activity. Using this
    app you can show someone an answer, but make sure they don't copy it word by word.
    <h3>Note on Turnitin</h3>
         Turnitin will fail to recognise any text in the document and will always give 0% match. Hence, this software 
         must not be used on documents which are submitted to Turnitin. This app is meant it to mitigate plagurism.
  </div>

</body>
</html>
